header {
  background-color: lightblue;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 1em;
  display: block;
}

nav a:hover {
  background-color: grey;
}
